{% load static %}

<!-- Footer -->
<footer id="footer">
	<div class="container no-padding">
		<div class="row">
			<div class="col-md-12 no-padding">

				<!-- About - Multipress -->
				<div class="col-md-3 footer-widget footer-about">
					<a href="./index.html"><img src="images/logo-foot.png" alt=""/></a>
					<p>AgroTech is Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut libero totam dolores? Est alias nihil iusto excepturi</p>
				</div>

				<!-- Latest posts -->
				<div class="col-md-3 footer-widget">
					<h5>Latest Posts from the Forum</h5>
						<ul class="footer-rposts">
						<li>
							<h4><a href="#">How we go from novice to first harvest in 6 months</a></h4>
							<div class="date">1 January 2019</div>
						</li>
						<li>
							<h4><a href="#">AgroTech is an inovative platform for wannabe farmers</a></h4>
							<div class="date">1 January 2019</div>
						</li>
						<li>
							<h4><a href="#">Creative technologies of our time</a></h4>
							<div class="date">1 January 2019</div>
						</li>
						<li>
							<h4><a href="#">Time for your Agric ambition</a></h4>
							<div class="date">21 June 2013</div>
						</li>
					</ul>				
				</div>

				<!-- Contact info -->
				<div class="col-md-3 footer-widget">
					<h5>Contact</h5>
					<ul class="contact-info">
						<li>
							<div class="c-ico"><img src="images/c-ico1.png" alt=""/></div>
							<div class="c-info"> Sisyphus inc. Box 32145 Ade-Akin street Str, Egbeda, Lagos</div>
						</li>
						<li>
							<div class="c-ico"><img src="images/c-ico2.png" alt=""/></div>
							<div class="c-info">Phone: +234 (070) 62774218<br>Fax: +234 (070) 62774218</div>
						</li>
						<li>
							<div class="c-ico"><img src="images/c-ico3.png" alt=""/></div>
							<div class="c-info">Manager: manager@yoursite.com<br>Sales: sales@yoursite.com</div>
						</li>
					</ul>	
				</div>

				<div class="col-md-3 footer-widget">

					<!-- Newsletter -->
					<div class="footer-widget">
						<h5>Newsletter</h5>
			
						<div class="newsletter">
							<form>
								<input type="text" placeholder="Enter your e-mail adress"/>
								<input type="submit" value="Go!"/>
							</form>
							<p>By subscribing you will get the latest news and free agricultural handouts from us.</p>
						</div>
					</div>

					<!-- Footer Social -->
					<div class="footer-widget">
						<h5>Be Social</h5>
						<div class="col-md-12 no-padding">
							<ul class="social-top">
								<li class="twitter"><a href="#">Twitter</a></li>
								<li class="gplus"><a href="#">Googleplus</a></li>
								<li class="dribbble"><a href="#">Dribbble</a></li>
								<li class="flickr"><a href="#">Flickr</a></li>
								<li class="pinterest"><a href="#">Pinterest</a></li>
								<li class="linkedin"><a href="#">Linkedin</a></li>
								<li class="facebook"><a href="#">Facebook</a></li>
							</ul>
							<p class="copy">&copy;2019 Sisyphus inc. All Rights Reserved</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer -->
<!-- JavaScript -->
<script src="{% static 'javascript/jquery.js' %}"></script>
<script src="{% static 'javascript/libs/rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
<script src="{% static 'javascript/libs/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'javascript/libs/rslider/view.home.js' %}"></script>
<script src="{% static 'javascript/bootstrap.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>
<script src="{% static 'javascript/jquery.foundation.forms.js' %}"></script>
<script src="{% static 'javascript/jquery.mobilemenu.js' %}"></script>
<script src="{% static 'javascript/jquery.animateNumber.js' %}"></script>
<script src="{% static 'javascript/jquery.appear.js' %}"></script>
<script src="{% static 'javascript/progressbar.js' %}"></script>
<script src="{% static 'javascript/libs/carousel/caroufredsel.js' %}"></script> 
<script src="{% static 'javascript/libs/isotope/jquery.isotope.min.js' %}"></script>
<script src="{% static 'javascript/libs/audioplayer/mediaelement-and-player.min.js' %}"></script>
<script src="{% static 'javascript/libs/mscrollbar/mCustomScrollbar.min.js' %}"></script>
<script src="{% static 'javascript/libs/owlcarousel/owl.carousel.js' %}"></script>
<script src="{% static 'javascript/libs/bxslider/jquery.bxslider.js' %}"></script>
<script src="{% static 'javascript/libs/flexslider/jquery.flexslider.js' %}"></script>
<script src="{% static 'javascript/libs/enscroll/enscroll-0.4.0.min.js' %}"></script>
<script src="{% static 'javascript/jquery-ui.js' %}"></script>
<script src="{% static 'php/twitter/jquery.tweet.js' %}"></script>
<script src="{% static 'javascript/theme.js' %}"></script>
<script src="{% static 'javascript/animations.js' %}"></script>
