{% load static %}

<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="AgroTech - Technology with Agriculture">
	<meta name="author" content="">

	<title>AgroTech</title>

	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicons -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">

	<!-- Web Fonts  -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet" type="text/css">

	<!--[if lt IE 9]>
	<script src="javascript/libs/respond.min.js"></script>
	<![endif]-->

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontselect.css' %}" />
	<link rel="stylesheet" href="{% static 'css/animations.css' %}">

	<!--[if lt IE 9]>
		<script src="javascript/libs/html5.js"></script>
	<![endif]-->

	<!-- Vendors CSS -->
	<link rel="stylesheet" href="{% static 'javascript/libs/flexslider/flexslider.css' %}" media="screen" />
	<link rel="stylesheet" href="{% static 'javascript/libs/rs-plugin/css/settings.css' %}" media="screen" />

	<!-- Style Switch -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/colors/light-blue-black.css' %}" title="light-blue" media="screen" />

</head>
<body>

<!-- ////// HIDDEN PANEL VIWEABLE ONLY ON SMALLER SCREENS ////// -->
<!--TOPBAR START-->
<div class="topbar-hidden">
	<div class="topbar">
		<div class="container ">
			<div class="row">
				<nav>
					<ul class="nav-pills topbar-right">
						<li class="phone"><span>Call us</span> +234 0 000 000 000 00</li>
					</ul>
				</nav>

				<nav>
					<ul class="nav-pills topbar-right">
						<li class="account"><a href="#">Sign in</a> / <a href="#">Register</a></li>
						<li class="wishlist"><a href="#">Wishlist: <span>7</span> items</a></li>
						<li class="cart"><span></span><a href="#">Cart: <span> $99.00</span></a></li>
					</ul>

				</nav>

				<div class="language">
					<form class="custom">
						<div class="custom dropdown">
							<a href="#" class="current">
							<span><img src="images/lang/1.jpg" alt=""/></span><em>English</em></a>
							<a href="#" class="selector"></a>
							<ul>
								<li><span><img src="{% static 'images/lang/1.jpg' %}" alt=""/></span><em>English</em></li>
								<li><span><img src="{% static 'images/lang/2.jpg' %}" alt=""/></span><em>Germany</em></li>
								<li><span><img src="{% static 'images/lang/3.jpg' %}" alt=""/></span><em>Espanol</em></li>
								<li><span><img src="{% static 'images/lang/4.jpg' %}" alt=""/></span><em>France</em></li>
							</ul>
						</div>
					</form>
				</div>

				<div class="search">
					<form class="top-search">
						<input type="search" placeholder="Search">
					</form>
				</div>
			</div>
		</div>
	</div>
<div class="clear"></div>
<a href="#" class="topbar-btn"></a>
</div>
<!--TOPBAR END-->
<!-- ////// HIDDEN PANEL VIWEABLE ONLY ON SMALLER SCREENS ////// -->

<div class="body">

<!-- Top wrap -->
<div id="top-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-3">

				<!-- Social icons -->
				<ul class="social-top">
					<li class="twitter"><a href="#">Twitter</a></li>
					<li class="gplus"><a href="#">Googleplus</a></li>
					<li class="dribbble"><a href="#">Dribbble</a></li>
					<li class="flickr"><a href="#">Flickr</a></li>
					<li class="pinterest"><a href="#">Pinterest</a></li>
					<li class="linkedin"><a href="#">Linkedin</a></li>
					<li class="facebook"><a href="#">Facebook</a></li>
				</ul>
			</div>
	
			<div class="col-md-9">

				<!-- Language -->
				<div class="language">
					<form class="custom">
						<div class="custom dropdown">
							<a href="#" class="current">
							<span><img src="images/lang/1.jpg" alt=""/></span><em>English</em></a>
							<a href="#" class="selector"></a>
							<ul>
								<li><span><img src="{% static 'images/lang/1.jpg' %}" alt=""/></span><em>English</em></li>
								<li><span><img src="{% static 'images/lang/2.jpg' %}" alt=""/></span><em>Germany</em></li>
								<li><span><img src="{% static 'images/lang/3.jpg' %}" alt=""/></span><em>Espanol</em></li>
								<li><span><img src="{% static 'images/lang/4.jpg' %}" alt=""/></span><em>France</em></li>
							</ul>
						</div>
					</form>
				</div>

				<!-- Tobar contents -->
				<nav>
					<ul class="nav-pills topbar-right">
						<li class="phone"><span>Call us</span> +234 0 000 000 000 00</li>
						<li class="account"><a href="#">Sign in</a> / <a href="#">Register</a></li>
						<li class="wishlist">Wishlist: <a href="#"><span>7</span> items</a></li>
						<li class="cart"><span></span>Cart: <a href="#">#<span>99.00</span></a></li>
					</ul>
				</nav>

				<!-- Search -->
				<div class="search">
					<form class="top-search">
						<input type="search" placeholder="Search">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Top wrap -->

<!-- Header -->
<header>
	<div class="container header_1">
		<div class="row">

			<!-- Logo -->
			<div class="logo">
				<a class="navbar-brand logo-nav" href="#"><img src="images/logo-dark.png" alt="AgroTech"></a>
			</div>

			<!-- Navmenu -->
			<nav class="navbar navbar-default nav-main" role="navigation">
				<ul class="nav navbar-nav navbar-right main-header-menu">
					<li class="dropdown active">
						<a class="dropdown-toggle" href="{% url 'home' %}">Home<b class="caret"></b><span>home </span></a>
						<ul class="dropdown-menu menu-style-1">
							<li class="style1"><a href="#">About us <span>some basic features</span></a></li>
							<li class="style2"><a href="#">Subscriptions <span>Manage sucscriptions</span></a></li>
							<li class="style3"><a href="#">Documentation <span>dive in to see how it all works</span></a></li>							
							<li class="style3"><a href="#">Contact Us <span></span></a></li>
						</ul>
					</li>
                    
					<li class="dropdown">
						<a class="dropdown-toggle" href="#">Planting options<b class="caret"></b><span>do more with agroTech</span></a>
						<ul class="dropdown-menu open-right">
							<li><a href="#">Quick plant</a></li>
							<li><a href="#">Request a crop</a></li>
   							<li><a href="#">Donate</a></li>
						</ul>
					</li>
                    
					<li class="dropdown shop-menu">
						<a class="dropdown-toggle" href="{% url 'rice_home' %}">Plant a crop<b class="caret"></b><span>choose from many options</span> </a>
						<div class="dropdown-menu">
							<div class="col-md-12 no-padding">
								<div class="col-md-9 no-padding">
									<div class="col-md-3 no-padding">
										<ul>
											<li><div class="shop-menu-title">Grains</div></li>
											<li><a href="{% url 'rice_home' %}">Rice</a></li>
											<li><a href="#">Wheat</a></li>
											<li><a href="#">Barley</a></li>
											<li><a href="#">Maize </a></li>
											<li><a href="#">Sorghum</a></li>
										</ul>
									</div>
										<div class="col-md-3 no-padding">
										<ul>
											<li><div class="shop-menu-title">Cash crops</div></li>
											<li><a href="#">Cassava</a></li>
											<li><a href="#">Cocoa</a></li>
											<li><a href="#">Legumes</a></li>
											<li><a href="#">Yam</a></li>
											<li><a href="#">Maize</a></li>
										</ul>
									</div>
		
									<div class="col-md-3 no-padding">
										<ul>
											<li><div class="shop-menu-title">Annual Crops</div></li>
											<li><a href="#">Tomatoes</a></li>
											<li><a href="#">Pepper</a></li>
											<li><a href="#">Beans</a></li>
											<li><a href="#">Cucumber <span>new</span></a></li>
											<li><a href="#">minor grains</a></li>
										</ul>
									</div>
										<div class="col-md-3 no-padding">
										<ul>
											<li><div class="shop-menu-title">Vegetables</div></li>
											<li><a href="#">Broccoli</a></li>
											<li><a href="#">Cabbages <span>hot</span></a></li>
											<li><a href="#">Garlic</a></li>
											<li><a href="#">Ginger</a></li>
											<li><a href="#">Efo soko</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-3 no-padding shop-menu-info">
									<ul>
										<li><div class="shop-menu-title">Plant options</div></li>
										<li><a href="#">Request a plant</a></li>
										<li><a href="#">DIYs <span>hot</span></a></li>
										<li><a href="#">Quick Plant</a></li>
									</ul>									
								</div>
							</div>
						</div>
					</li>
                    
                    <li class="dropdown">
						<a class="dropdown-toggle" href="#">Rear a livestock<b class="caret"></b><span>Eco friendly livestocks</span> </a>
						<ul class="dropdown-menu">
							<li><a href="#">Cow</a></li>
							<li><a href="#">Chicken</a></li>
							<li><a href="#">Turkey</a></li>
							<li><a href="#">snail</a></li>
							<li><a href="#">pig</a></li>
							<li><a href="#">Goat</a></li>
						</ul>
					</li>                    
                    
					<li class="dropdown">
						<a class="dropdown-toggle" href="#">Agro Forum<b class="caret"></b><span>share ideas</span> </a>
						<ul class="dropdown-menu">
							<li><a href="#">Pre-planting preps</a></li>
							<li><a href="#">The Rice Threads</a></li>
							<li><a href="#">Pig Fast grow</a></li>
							<li><a href="#">Rice quick plant</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="#">E-Agro Store<b class="caret"></b><span>couple layouts</span> </a>
						<ul class="dropdown-menu">
							<li><a href="#">Farm marchineries</a></li>
							<li><a href="#">Seeds</a></li>
							<li><a href="#">Cereals</a></li>
							<li><a href="#">Legumes</a></li>
						</ul>
					</li>			
				</ul>
			</nav>
        </div>
	</div>
</header>
<!-- Header -->

<!-- Header Hidden - Show for Mobiles-->
<header id="hidden-header">
	<div class="container">
		<div class="row">

			<!-- Logo -->
			<div class="logo">
				<a class="navbar-brand logo-nav" href="#"><img src="images/logo-dark.png" alt="AgroTech"></a>
			</div>

			<!-- Navmenu -->
			<nav class="navbar navbar-default nav-main" role="navigation">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown active">
						<a class="dropdown-toggle" href="#">Home<b class="caret"></b></a>
						<ul class="dropdown-menu menu-style-1">
							<li class="style1"><a href="#">About us <span>some basic features</span></a></li>
							<li class="style2"><a href="#">Subscriptions <span>Manage sucscriptions</span></a></li>
							<li class="style3"><a href="#">Documentation <span>dive in to see how it all works</span></a></li>							
							<li class="style3"><a href="#">Contact Us <span></span></a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a class="dropdown-toggle" href="#">Planting options<b class="caret"></b></a>
						<ul class="dropdown-menu open-right">
							<li><a href="#">Quick plant</a></li>
							<li><a href="#">Request a crop</a></li>
   							<li><a href="#">Donate</a></li>
						</ul>
					</li>
                    
					<li class="dropdown shop-menu">
						<a class="dropdown-toggle" href="#">Plant a crop<b class="caret"></b></a>
						<div class="dropdown-menu">
							<div class="col-md-12 no-padding">
								<div class="col-md-9 no-padding">
									<div class="col-md-3 no-padding">
										<ul>
											<li><div class="shop-menu-title">Grains</div></li>
											<li><a href="#">Rice</a></li>
											<li><a href="#">Wheat</a></li>
											<li><a href="#">Barley</a></li>
											<li><a href="#">Maize </a></li>
											<li><a href="#">Sorghum</a></li>
										</ul>
									</div>
										<div class="col-md-3 no-padding">
										<ul>
											<li><div class="shop-menu-title">Cash crops</div></li>
											<li><a href="#">Cassava</a></li>
											<li><a href="#">Cocoa</a></li>
											<li><a href="#">Legumes</a></li>
											<li><a href="#">Yam</a></li>
											<li><a href="#">Maize</a></li>
										</ul>
									</div>
		
									<div class="col-md-3 no-padding">
										<ul>
											<li><div class="shop-menu-title">Annual Crops</div></li>
											<li><a href="#">Tomatoes</a></li>
											<li><a href="#">Pepper</a></li>
											<li><a href="#">Beans</a></li>
											<li><a href="#">Cucumber <span>new</span></a></li>
											<li><a href="#">minor grains</a></li>
										</ul>
									</div>
										<div class="col-md-3 no-padding">
										<ul>
											<li><div class="shop-menu-title">Vegetables</div></li>
											<li><a href="#">Broccoli</a></li>
											<li><a href="#">Cabbages <span>hot</span></a></li>
											<li><a href="#">Garlic</a></li>
											<li><a href="#">Ginger</a></li>
											<li><a href="#">Efo soko</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-3 no-padding shop-menu-info">
									<ul>
										<li><div class="shop-menu-title">Plant options</div></li>
										<li><a href="#">Request a plant</a></li>
										<li><a href="#">DIYs <span>hot</span></a></li>
										<li><a href="#">Quick Plant</a></li>
									</ul>									
								</div>
							</div>
						</div>
					</li>
                    
                    <li class="dropdown">
						<a class="dropdown-toggle" href="#">Rear a livestock<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Cow</a></li>
							<li><a href="#">Chicken</a></li>
							<li><a href="#">Turkey</a></li>
							<li><a href="#">snail</a></li>
							<li><a href="#">pig</a></li>
							<li><a href="#">Goat</a></li>
						</ul>
					</li>                    
                    <li class="dropdown">
						<a class="dropdown-toggle" href="#">Agro Forum<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Pre-planting preps</a></li>
							<li><a href="#">The Rice Threads</a></li>
							<li><a href="#">Pig Fast grow</a></li>
							<li><a href="#">Rice quick plant</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="#">E-Agro Store<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Farm marchineries</a></li>
							<li><a href="#">Seeds</a></li>
							<li><a href="#">Cereals</a></li>
							<li><a href="#">Legumes</a></li>
							<li><a href="#">Blog Single</a></li>
						</ul>
					</li>
                </ul>
			</nav>
		</div>
	</div>
</header>
<!-- Header Hidden - Show for Mobiles-->