{% load static %}
<!DOCTYPE html>

{% include "_header.html" %}
<!-- Slider - Revolution -->
<div role="main" class="slider-wrap">
	<div class="slider-wrap-inner">
		<div class="slider-container">
			<div class="slider" id="revolutionSlider">
				<ul>
				 	<li data-transition="fade" data-slotamount="13" data-masterspeed="300" >
						<img src="{% static 'demo/slide/1.jpg' %}" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" alt="">
						<div class="tp-caption top-label lfl stl"
							 data-x="10"
							 data-y="180"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo" style="color:#4bd0ea;">Welcome to</div>

						<div class="tp-caption sft stb visible-lg"
							 data-x="352"
							 data-y="185"
							 data-speed="300"
							 data-start="800"
							 data-easing="easeOutExpo"><img src="{% static 'demo/slides/slide-title-border.png' %}" alt=""></div>

						<div class="tp-caption main-label sft stb"
							 data-x="10"
							 data-y="210"
							 data-speed="300"
							 data-start="1000"
							 data-easing="easeOutExpo" style="font-family:Bitter;color:#4bd0ea;">AGRO TECH</div>

						<div class="tp-caption sft stb visible-lg"
							 data-x="10"
							 data-y="283"
							 data-speed="300"
							 data-start="1200"
							 data-easing="easeOutExpo"><img src="{% static 'demo/slides/slide-title-border.png' %}" alt=""></div>

						<div class="tp-caption bottom-label sft stb"
							 data-x="115"
							 data-y="280"
							 data-speed="500"
							 data-start="1500"
							 data-easing="easeOutExpo" style="color:#fffff;">A multi paradigm platform for Agriculture</div>
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
						<img src="{% static 'demo/slide/slide-bg.jpg' %}" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" alt="">
						<div class="tp-caption fade"
							 data-x="50"
							 data-y="100"
							 data-speed="1500"
							 data-start="500"
							 data-easing="easeOutExpo"><img src="{% static 'demo/slides/slide-concept.png' %}" alt=""></div>

						<div class="tp-caption blackboard-text fade "
							 data-x="180"
							 data-y="180"
							 data-speed="1500"
							 data-start="1000"
							 data-easing="easeOutExpo" style="font-size: 30px;"></div>

						<div class="tp-caption blackboard-text fade "
							 data-x="180"
							 data-y="220"
							 data-speed="1500"
							 data-start="1200"
							 data-easing="easeOutExpo" style="font-size: 40px;">Lets help you grow</div>

						<div class="tp-caption main-label sft stb"
							 data-x="380"
							 data-y="190"
							 data-speed="300"
							 data-start="1500"
							 data-easing="easeOutExpo">Eco - Friendly Planting</div>

						<div class="tp-caption bottom-label sft stb"
							 data-x="380"
							 data-y="250"
							 data-speed="500"
							 data-start="2000"
							 data-easing="easeOutExpo" style="color: black; font: weight 500;">Livestocks with fat napes</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Slider - Revolution -->

<!-- Services -->
<div class="services-wrap">
	<div class="container no-padding">
		<div class="row">

			<!-- Service - one -->
			<div class="col-md-3 services-content animate">
				<div class="services-ico">
					<div class="services-ico1"></div>
				</div>
				<h3>Plant a crop</h3>
				<p>planting a crop on our platform basically means Lorem ipsum dolor ssumenda enim.</p>
				<div class="btn-wrap">
					<a class="button_style1" href="{% url 'rice_home' %}">Read more</a>
				</div>
			</div>


			<!-- Service - Two -->
			<div class="col-md-3 services-content animate">
				<div class="services-ico">
					<div class="services-ico2"></div>
				</div>
				<h3>Rear a Livestock</h3>
				<p>Rear a lifestock Lorem, ipsum dolor sit amet consectetur adipisicingur voluptate.</p>
				<div class="btn-wrap">
					<a class="button_style1" href="#">Read more</a>
				</div>
			</div>

			<!-- Service - three -->
			<div class="col-md-3 services-content animate">
				<div class="services-ico">
					<div class="services-ico3"></div>
				</div>
				<h3>Visit the store</h3>
				<p>At the store you can find any Agricultural commodities, and no fear of counterfeits</p>
				<div class="btn-wrap">
					<a class="button_style1" href="#">Read more</a>
				</div>
			</div>

			<!-- Service - four -->
			<div class="col-md-3 services-content animate">
				<div class="services-ico">
					<div class="services-ico4"></div>
				</div>
				<h3>Documentation</h3>
				<p>Take a look into our Documentation and see how everything works, or contact us.</p>
				<div class="btn-wrap">
					<a class="button_style1" href="#">Read more</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Services -->


</div>
{% include "_footer.html" %}
</body>
</html>