{% load static %}

{% include "_header.html" %}

<!-- Page Header -->
<div class="page-head">
	<div class="container no-padding">
		<div class="row">
			<div class="col-md-6">
				<h2>Rice Home <span> planting Rice</span></h2>
			</div>
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#">Plant a crop</a></li>
					<li class="active">Rice</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- Page Header -->

<!-- Page content -->
<div class="container fullpage">
	<div class="row">

		<aside class="col-md-4 sidebar">
			<div class="space20"></div>
			<!-- Category List -->
			<div class="col-md-12 side-widget">
				<h6>Steps:</h6>
				<ul class="category-list">
					<li><a href="#">Planting preparations</a></li>
					<li><a href="#">Soil Requirements</a></li>
					<li><a href="#">Quick plant</a></li>
					<li><a href="#">Storage/Requirements</a></li>
					<li><a href="#">Collaborate to farm</a></li>
                    <li><a href="#">Virtual farms</a></li>
				</ul>
			</div>

			<!-- Tags List -->
			<div class="col-md-12 side-widget">
				<h6>Tags:</h6>
				<ul class="tags-list">
					<li><a href="#">seed</a></li>
					<li><a href="#">requirements</a></li>
					<li><a href="#">soil</a></li>
					<li><a href="#">farm spaces</a></li>
					<li><a href="#">farm harvest</a></li>
					<li><a href="#">soil orchestration</a></li>
				</ul>
			</div>
		</aside>

		<div class="col-md-8">
			<h3>Planting preparations</h3>
			<p>Aliquam rhoncus ornare ligula in ornare. Etiam eu ligula facilisis, porttitor lectus et, aliquet est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer a porta sem, sed volutpat metus. Nullam tempus porta venenatis. Morbi vehicula, tortor a porta cursus, ipsum orci malesuada augue, id pulvinar elit risus a felis. Nullam lectus eros, accumsan vitae luctus nec, rutrum et ligula. Etiam sagittis, diam nec volutpat sodales, turpis nisl tempor urna, sed tempus tortor quam vel odio. Nunc commodo elit felis, sit amet euismod nulla consectetur a. Nulla lobortis fermentum tellus, et faucibus ante egestas a.</p>
			<p>Nam et ante iaculis, viverra libero at, tincidunt arcu. Nunc eu augue quis elit consequat sollicitudin a vel ligula. Sed ligula nulla, lacinia vel dui ac, vehicula malesuada arcu. Aenean interdum, purus sed dignissim porta, lectus mauris aliquam eros, id mollis quam nibh sed felis. Phasellus iaculis laoreet leo, id ultricies nulla viverra at. Quisque velit dolor, pulvinar et ipsum a, eleifend pulvinar tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc ut sagittis magna. Nam tempus, lorem eu tincidunt bibendum, tortor ante tristique tellus, bibendum volutpat tellus nibh ac eros. Aliquam malesuada ac erat vitae venenatis. Praesent tellus ante, dignissim eu nisi in, mattis blandit sapien. Aenean vitae pretium orci, ut laoreet ante. Nam malesuada id libero quis aliquam. Proin erat purus, congue non ligula eu, consequat auctor purus.</p>
			<p>Etiam aliquam libero et rhoncus euismod. In fermentum leo ut urna laoreet, sit amet posuere erat viverra. Nulla sit amet velit dui. In sodales porta purus, non eleifend massa posuere sit amet. Vestibulum luctus blandit lorem. Morbi viverra vel tortor nec ultricies. Nulla placerat risus id enim condimentum varius. Aenean quis congue ipsum. Phasellus pretium arcu ac posuere facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas gravida gravida lorem ac viverra. Donec vel ante nibh. Ut sollicitudin sapien id dolor luctus blandit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			<p>Curabitur suscipit mollis dolor, suscipit mattis erat cursus vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu urna facilisis, rutrum dui ac, vestibulum erat. Integer dapibus, orci ut semper convallis, nisi velit rhoncus ligula, ut suscipit magna est tempor leo. Cras eu accumsan justo. Cras laoreet risus non viverra accumsan. Etiam quis pulvinar elit. Phasellus gravida lectus libero, in dictum arcu placerat in. Nunc id tortor sodales, volutpat urna quis, pulvinar nulla. Phasellus ut aliquet ipsum. Nunc imperdiet odio non semper elementum.</p>
		</div>
	</div>
</div>
<!-- Page content -->



{% include "_footer.html" %}