/*
* 	Owl Carousel Owl Demo Theme 
*	v1.24
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	position: absolute;
	top: 0%;
	margin-top: -16px;
	outline: 0;
	width: 50px;
	height:108%;
	background-color:rgba(255,255,255,0);
	background-position:54%;
	text-indent: -9999px;
	z-index: 9999;
	
	
}



.owl-prev {
	left: -50px;
	background: url(../../../images/shop-prev.png) no-repeat;
}

.owl-next {
	right: -50px;
	background: url(../../../images/shop-next.png) no-repeat;
}

.owl-prev:hover {
	background: url(../../../images/shop-prev-hr.png) no-repeat;
}

.owl-next:hover {
	background: url(../../../images/shop-next-hr.png) no-repeat;

}



/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 23px;
	height: 23px;
	margin: 0px 3px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: url(../../../images/owl-pager.png) no-repeat;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	
	background: url(../../../images/owl-pager-active.png) no-repeat;


}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}


/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */
@media only screen and (max-width: 1050px) {

.owl-prev {
	left: 0px;
	background: url(../../../images/shop-prev.png) no-repeat;
}

.owl-next {
	right: 0px;
	background: url(../../../images/shop-next.png) no-repeat;
}

.owl-prev:hover {
	background: url(../../../images/shop-prev-hr.png) no-repeat;
}

.owl-next:hover {
	background: url(../../../images/shop-next-hr.png) no-repeat;

}